.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.funcionario-list-content {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.funcionario-content {
    display: flex;
    flex-direction: column;
}

.funcionario-content-header {
    display: flex;
    justify-content: space-between;

    padding: 12px;
    margin-bottom: 8px;

    border: solid 1px black;
    border-radius: 15px;
    
}

.text {
    font-size: 22;
}

.arrow {
    width: 14px;
}

.innerDiv-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    gap: 5px;
    padding: 8px;

    background-color: gainsboro;
}

.input-content {
    display: flex;
    flex-direction: column;
}

.edit-btn {

}

.delete-btn {

}