.nav {
  padding: 18px;
  background: rgb(72, 43, 232);

  background: linear-gradient(
    90deg,
    rgba(122, 106, 252, 0.9) 0%,
    rgba(40, 144, 203, 0.9) 56%,
    rgba(4, 214, 177, 0.9) 100%
  );

  font-size: 35px;
  color: white;

  -webkit-box-shadow: 6px 7px 5px 0px rgba(184, 184, 184, 1);
  -moz-box-shadow: 6px 7px 5px 0px rgba(184, 184, 184, 1);
  box-shadow: 0px 5px 13px -2px rgb(184 184 184);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.funcionario-list-content {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.funcionario-content {
  display: flex;
  flex-direction: column;
}

.funcionario-content-header {
  display: flex;
  justify-content: space-between;

  padding: 12px;
  margin-bottom: 8px;

  border-radius: 15px;

  box-shadow: 2px 2px rgba(122, 106, 252, 1);
  color: rgb(72, 43, 232);
}

.funcionario-content-header:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(122, 106, 252, 0.4) 0%,
    rgba(40, 144, 203, 0.4) 56%,
    rgba(4, 214, 177, 0.4) 100%
  );
}

.text {
  font-size: 22;
}

.arrow {
  width: 14px;
  transition: transform 0.2s ease-in-out;
}

.innerDiv-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: -5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  gap: 5px;
  padding: 8px;

  background-color: rgba(122, 106, 252, 0.2);
}

.input-content {
  display: flex;
  flex-direction: column;
}

.readonly {
  border: none;
}

.edit-btn {
  background-color: yellow;
  margin-left: 7px;
}

.delete-btn {
  background-color: red;
  margin-left: 7px;
}
